@import 'mixins';
@import 'grid';
@import 'layout';
@import 'colors';

* { margin: 0; padding: 0; }

html {
  body {
    background: image-url('background-kendrick.png') no-repeat center center fixed;
    width: $grid-width;
    margin: 0px auto;
    height: 100%;
    background-color: $green-gray;
  }
}

.filler-row {
  @include row;

  height: 100px;
}

.info, .info-form {
    @include row;
    @include col(8);

    textarea {
      width: 80%;
    }
}
