#index
  .promo-row
    .promos
      %span.promo
        %div= image_tag("bravegeneration-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.brave-generation.com' } INFO
          %a.booking-link{ href: 'http://www.brave-generation.com' } BOOKING
      %span.promo
        %div= image_tag("justinkendrick-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.brave-generation.com' } INFO
          %a.booking-link{ href: '/justin-kendrick' } BOOKING

  .promo-row
    .promos
      %span.promo
        %div= image_tag("outofhiding-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.brave-generation.com' } INFO
          %a.booking-link{ href: 'http://www.brave-generation.com' } BOOKING
      %span.promo
        %div= image_tag("unow-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.brave-generation.com' } INFO
          %a.booking-link{ href: 'http://www.brave-generation.com' } BOOKING
