#index
  .promo-row
    .promos
      %span.promo
        %a.info-link{ href: 'http://www.brave-generation.com' }
          = image_tag("bravegeneration-promo.png")
      %span.promo
        %a.info-link{ href: '/justin-kendrick' }
          = image_tag("justinkendrick-promo.png")

  .promo-row
    .promos
      %span.promo
        %a.info-link{ href: 'http://www.myspace.com/outofhidingmusic' }
          = image_tag("outofhiding-promo.png")
      %span.promo
        %a.info-link{ href: 'http://www.ctunited.org' }
          = image_tag("unow-promo.png")
