#index
  .promo-row
    .promos
      %span.promo
        %div= image_tag("bravegeneration-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.brave-generation.com' } INFO
      %span.promo
        %div= image_tag("justinkendrick-promo.png")
        %div.copy
          %a.info-link{ href: '/justin-kendrick' } INFO

  .promo-row
    .promos
      %span.promo
        %div= image_tag("outofhiding-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.myspace.com/outofhidingmusic' } INFO
      %span.promo
        %div= image_tag("unow-promo.png")
        %div.copy
          %a.info-link{ href: 'http://www.ctunited.org' } INFO
