.quick-links
  %a{ href: "/" } home
  |
  %a{ href: "http://www.myspace.com/outofhidingmusic" } out of hiding
  |
  %a{ href: "http://www.brave-generation.com" } brave generation conferences
  |
  %a{ href: "http://www.ctunited.org" } the connecticut night of worship


.disclaimer
  %span Copyright
  %span#copyright-symbol
  %span Holyfire Ministries. All rights reserved.
