.quick-links
  %a{ href: "" } home
  |
  %a{ href: "" } out of hiding
  |
  %a{ href: "" } brave generation conferences
  |
  %a{ href: "" } the connecticut night of worship


.disclaimer
  %span Copyright
  %span#copyright-symbol
  %span Holyfire Ministries. All rights reserved.
